.wrapper__main {
  justify-content: space-around;
  background-image: url(../../assets/images/background.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.wrapper__main::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.75);
}

.container__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
