.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: none;
  height: 78px;
  background-color: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.21);
  position: relative;
  z-index: 200;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.21); */
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  transition: background-color 0.2s;
}

.nav__item_active {
  background-color: #f2f2f2;
}

.nav__button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: #000;
  text-decoration: none;
}
